<template>
  <table class="table">
    <thead>
      <slot name="columns">
        <th v-for="column in columns">{{column}}</th>
        <th> Ações </th>

      </slot>
    </thead>
    <tbody>
    <tr v-for="item in data">
      <slot :row="item">
        <td v-for="column in columns" v-if="hasValue(item, column)">{{itemValue(item, column)}}</td>
        <td>
          <div class="md-table-cell-container">
            <button type="button" class="md-button md-just-icon md-simple md-primary md-theme-default">
              <div class="md-ripple">
                <div class="md-button-content">
                  <router-link :to="{name: item.editRoute, params: { id: item.id }}">
                    <a class="btn btn-default">

                      <i class="fa fa-edit" style="color: #0a6ea0"></i>
                    </a>
                  </router-link>

                  <a class="btn btn-default" @click="remove(item)">
                    <i class="fa fa-times" style="color: red"></i>
                  </a>

                </div>
              </div>
            </button>
          </div>
        </td>
      </slot>
    </tr>
    </tbody>
  </table>
</template>
<script>
  import axios from "axios";
  import Card from 'src/components/UIComponents/Cards/Card.vue'

  export default {
    components: {
      Card
    },
    name: 'l-table',
    props: {
      columns: Array,
      data: Array
    },
    data () {
      return {
        notifications: {
          topCenter: false
        }
      }
    },
    methods: {
      remove: function (item) {
        axios({
          method: "DELETE",
          url: item.deleteURL,
          headers: {
            'Accept': 'application/json',
            'Authorization': 'Bearer ' + this.$store.getters.getToken,
            'Content-Type': 'application/json'
          }
        }).then(
          result => {
            this.notifyVue('top', 'right','success', "Operação realizada com sucesso")

            this.$router.push('/ufab');
          },
          error => {
            this.notifyVue('top', 'right','danger', error)
          }
        );
      },
      notifyVue (verticalAlign, horizontalAlign, type, result) {
        const notification = {
          template: `<span>`+result+`</span>`
        }
        this.$notifications.notify(
          {
            component: notification,
            icon: 'nc-icon nc-app',
            horizontalAlign: horizontalAlign,
            verticalAlign: verticalAlign,
            type: type
          })
      },
      hasValue (item, column) {
        return item[column.toLowerCase()] !== 'undefined'
      },
      itemValue (item, column) {
        return item[column.toLowerCase()]
      }
    }
  }
</script>
<style>
</style>
