<template>

  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <div class="login100-pic js-tilt" data-tilt>
          <img src="static/img/img-01.png" alt="IMG">
        </div>

        <form class="login100-form" @submit.prevent='login({ username, password })'>
					<span class="login100-form-title">
						Autenticação
					</span>

          <p>{{log}}</p>

          <div class="wrap-input100">
            <input class="input100" type="text" v-model='username' placeholder="Usuário">
            <span class="focus-input100"></span>
            <span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
          </div>

          <div class="wrap-input100">
            <input class="input100" type="password" v-model='password' placeholder="Senha">
            <span class="focus-input100"></span>
            <span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
          </div>

          <div class="container-login100-form-btn">
            <button class="login100-form-btn" type='submit'>
              Login
            </button>
          </div>

          <div class="text-center p-t-136">
            <a class="txt2" href="#"> </a>
          </div>
        </form>
      </div>
    </div>
  </div>

</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<script>

  import * as types from '../../../../store/mutation-types'

  export default {
    name: 'login',
    data () {
      return {
        username: '',
        password: '',
        error: '',
        log: ''
      }
    },

    methods: {
      login () {
        const self = this
        this.$store.dispatch(types.LOGIN, {
          username: this.username,
          password: this.password
        }).then((response) => {
          if (response.status === 200) {
            response.json().then(json => {
              this.$store.commit(types.LOGIN_SUCCESS, {
                token: json.token,
                username: self.username
              })
              this.$router.push('/ufab')
            })
          } else if (response.status === 401) {
            this.log = 401
            response.json().then(json => {
              this.error = json
            })
            this.$store.commit(types.LOGIN_WRONG_CREDENTIALS)
            this.$router.push('/')
          } else {
            this.log = 'Falha ao autenticar: '
            response.json().then(json => {
              this.error = json
            })
            this.$router.push('/')
            this.$store.commit(types.LOGIN_ERROR)
          }
        }).catch(json => {
          this.error = 'Unable to connect server.'
        })
      }
    }
  }

</script>


