<template>
  <div class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-12">
          <div class="card" align="center">
            <div class="all-icons">
            <div class="card-body">
              <div class="font-icon-list col-lg-5 col-md-3 col-sm-4 col-6">
                <div class="font-icon-detail">
                  <i class="nc-icon nc-pin-3" style="color: red"></i>
                  <div style="color: #2C93FF">
                    <p>Bem vindo !</p>
                    <p>Esse é o sistema de controle da biblioteca da UFAB</p>
                    <p>Utilize o menu ao lado para navegar pelo sistama</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>

    </div>
  </div>
</template>
<script>


</script>
<style>

</style>
