<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <card>
            <template slot="header">
              <h4 class="card-title">Funcionarios</h4>
              <p class="card-category">Editar</p>
            </template>

            <form @submit.prevent='sendData'>
              <fg-input type="hidden" v-model="object.id" readonly/>

              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-4">
                    <fg-input type="text" label="Nome" placeholder="Nome Completo" v-model="object.nome" required/>
                  </div>
                  <div class="col-md-4">
                    <fg-input type="text" label="E-mail" placeholder="E-mail" v-model="object.email"
                              required/>
                  </div>
                  <div class="col-md-4">
                    <fg-input type="text" label="CPF" placeholder="CPF" v-model="object.cpf"
                              required/>
                  </div>
                </div>


                <div class="row">
                  <div class="col-md-12">
                    <fg-input type="text" label="Endereço" placeholder="Endereço" v-model="object.endereco" required/>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <fg-input type="text" label="Naturalidade" placeholder="Naturalidade" v-model="object.naturalidade" required/>
                  </div>
                  <div class="col-md-4">
                    <fg-input type="text" label="Telefone" placeholder="Telefone" v-model="object.telefone" required/>
                  </div>

                  <div class="col-md-4">
                    <fg-input type="password" label="Senha" placeholder="Senha" v-model="object.senha" required/>
                  </div>
                </div>

                <div class="row text-right">
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">
                      Enviar Dados
                    </button>
                  </div>
                </div>

                <div class="clearfix"></div>
              </div>

            </form>

          </card>
        </div>
      </div>

    </div>
  </div>
</template>
<script>
  import Card from 'src/components/UIComponents/Cards/Card.vue'
  import axios from "axios"

  export default {
    components: {
      Card
    },
    data () {
      return {
        object: {}
      }
    },

    methods: {
      sendData() {
        axios({
          method: "POST",
          url: "/api/funcionarios",
          data: this.object,
          headers: {
            'Accept': 'application/json',
            'Authorization': 'Bearer ' + this.$store.getters.getToken,
            'Content-Type': 'application/json'
          }
        }).then(
          result => {
            this.notifyVue('top', 'right','success', "Operação realizada com sucesso")
            this.$router.push('/ufab/funcionarios');
          },
          error => {
            this.notifyVue('top', 'right','danger', error)
          }
        );
      },

      notifyVue (verticalAlign, horizontalAlign, type, result) {
        const notification = {
          template: `<span>`+result+`</span>`
        }


        this.$notifications.notify(
          {
            component: notification,
            icon: 'nc-icon nc-app',
            horizontalAlign: horizontalAlign,
            verticalAlign: verticalAlign,
            type: type
          })
      },
      cleanObject(){
        this.object = {
          id:'',
          nome: '',
          email: '',
          cpf: '',
          endereco: '',
          naturalidade: '',
          telefone:'',
          senha:'',
        }
      }
    },

    mounted() {
      axios({
        method: "GET",
        url: "/api/funcionarios/"+this.$route.params.id,
        headers: {
          'Accept': 'application/json',
          'Authorization': 'Bearer ' + this.$store.getters.getToken,
          'Content-Type': 'application/json'
        }
      }).then(
        result => {
          this.object = result.data;
        },
        error => {
          console.error(error);
        }
      )
    },
  }
</script>

