<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <card>
            <template slot="header">
              <h4 class="card-title">Anais de Congresso</h4>
              <p class="card-category">Editar</p>
            </template>

            <form @submit.prevent='sendData'>
              <fg-input type="hidden" v-model="object.id" readonly/>

              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-4">
                    <fg-input type="text" label="Titulo" placeholder="Titulo" v-model="object.titulo" required/>
                  </div>
                  <div class="col-md-4">
                    <fg-input type="text" label="Local" placeholder="Local" v-model="object.local" required/>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="sel1">Tipo</label>
                      <select class="form-control" id="sel1" v-model="object.tipo" required>
                        <option v-for="tipo in tipos" v-bind:value="tipo.value">{{ tipo.value }}</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-4">
                    <fg-input type="text" label="Autores" placeholder="Autores" v-model="object.autores" required/>
                  </div>
                  <div class="col-md-4">
                    <fg-input type="text" label="Nome do Congresso" placeholder="Nome do Congresso" v-model="object.nomeCongresso" required/>
                  </div>
                  <div class="col-md-4">
                    <fg-input type="date" label="Publicacao" placeholder="Publicacao" v-model="object.publicacao" required/>
                  </div>
                </div>

                <div class="row text-right">
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">
                      Enviar Dados
                    </button>
                  </div>
                </div>

                <div class="clearfix"></div>
              </div>

            </form>

          </card>
        </div>
      </div>

    </div>
  </div>
</template>
<script>
  import Card from 'src/components/UIComponents/Cards/Card.vue'
  import axios from "axios"

  export default {
    components: {
      Card
    },
    data () {
      return {
        object: {},
        tipos: [
          { value: 'Artigo' },
          { value: 'Pôster' },
          { value: 'Resumo'}
        ],
      }
    },

    methods: {
      sendData() {
        axios({
          method: "POST",
          url: "/api/anais",
          data: this.object,
          headers: {
            'Accept': 'application/json',
            'Authorization': 'Bearer ' + this.$store.getters.getToken,
            'Content-Type': 'application/json'
          }
        }).then(
          result => {
            this.notifyVue('top', 'right','success', "Operação realizada com sucesso")
            this.$router.push('/ufab/anais');
          },
          error => {
            this.notifyVue('top', 'right','danger', error)
          }
        );
      },

      notifyVue (verticalAlign, horizontalAlign, type, result) {
        const notification = {
          template: `<span>`+result+`</span>`
        }


        this.$notifications.notify(
          {
            component: notification,
            icon: 'nc-icon nc-app',
            horizontalAlign: horizontalAlign,
            verticalAlign: verticalAlign,
            type: type
          })
      },
      cleanObject(){
        this.object = {
          id:'',
          titulo: '',
          tipo: '',
          autores: '',
          publicacao: '',
          nomeCongresso: '',
          local:''
        }
      }
    },

    mounted() {
      axios({
        method: "GET",
        url: "/api/anais/"+this.$route.params.id,
        headers: {
          'Accept': 'application/json',
          'Authorization': 'Bearer ' + this.$store.getters.getToken,
          'Content-Type': 'application/json'
        }
      }).then(
        result => {
          this.object = result.data;
        },
        error => {
          console.error(error);
        }
      )
    },
  }
</script>

