<template id="modal">
  <modal v-show="isModalVisible" @close="closeModal">
    <h3 slot="header">Cadastro de TCC</h3>

    <form slot="content" @submit.prevent='sendData'>

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <fg-input type="text" label="Titulo" placeholder="Titulo" v-model="object.titulo" required/>
          </div>
          <div class="col-md-4">
            <fg-input type="text" label="Local" placeholder="Local" v-model="object.local" required/>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="sel1">Tipo</label>
              <select class="form-control" id="sel1" v-model="object.tipo" required>
                <option v-for="tipo in tipos" v-bind:value="tipo.value">{{ tipo.value }}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <fg-input type="text" label="Autores" placeholder="Autores" v-model="object.autores" required/>
          </div>
          <div class="col-md-4">
            <fg-input type="text" label="Orientadores" placeholder="Orientadores" v-model="object.orientadores" required/>
          </div>
          <div class="col-md-4">
            <fg-input type="date" label="Data de Defesa" placeholder="Data de Defesa" v-model="object.dataDefesa" required/>
          </div>
        </div>

        <div class="row text-right">
          <div class="col-md-12">
            <button class="btn btn-danger" @click.prevent="closeModal">
              Sair
            </button>
            <button type="submit" class="btn btn-primary">
              Enviar Dados
            </button>
          </div>
        </div>

        <div class="clearfix"></div>
      </div>

    </form>

  </modal>
</template>
<script>
  import Modal from 'src/components/UIComponents/Modal.vue'

  export default {
    name: 'form-component',
    components: {Modal},
    template: "#modal",
    props: {
      closeModal: {},
      isModalVisible: {},
      sendData: {},
      object: {},
    },
    data () {
      return {
        tipos: [
          { value: 'Monografia' },
          { value: 'Tese' },
          { value: 'Dissertação' },
        ],
      }
    }
  }
</script>
