<template id="modal">
  <modal v-show="isModalVisible" @close="closeModal">
    <h3 slot="header">Cadastro de Livros</h3>

    <form slot="content" @submit.prevent='sendData'>

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <fg-input type="text" label="Titulo" placeholder="Titulo" v-model="object.titulo" required/>
          </div>

        </div>

        <div class="row">
          <div class="col-md-6">
            <fg-input type="date" label="Data de Publicacao" placeholder="Data de Publicacao" v-model="object.publicacao" required/>
          </div>
          <div class="col-md-6">
            <fg-input type="number" label="Edição" placeholder="Edição" v-model="object.edicao" required/>
          </div>
        </div>

        <div class="row text-right">
          <div class="col-md-12">
            <button class="btn btn-danger" @click.prevent="closeModal">
              Sair
            </button>
            <button type="submit" class="btn btn-primary">
              Enviar Dados
            </button>
          </div>
        </div>

        <div class="clearfix"></div>
      </div>

    </form>

  </modal>
</template>
<script>
  import Modal from 'src/components/UIComponents/Modal.vue'

  export default {
    name: 'form-component',
    components: {Modal},
    template: "#modal",
    props: {
      closeModal: {},
      isModalVisible: {},
      sendData: {},
      object: {},
    },
  }
</script>
