<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <card>
            <template slot="header">
              <h4 class="card-title">Jornais</h4>
              <p class="card-category">Editar</p>
            </template>

            <form @submit.prevent='sendData'>
              <fg-input type="hidden" v-model="object.id" readonly/>

              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12">
                    <fg-input type="text" label="Titulo" placeholder="Titulo" v-model="object.titulo" required/>
                  </div>

                </div>

                <div class="row">
                  <div class="col-md-6">
                    <fg-input type="date" label="Data de Publicacao" placeholder="Data de Publicacao" v-model="object.publicacao" required/>
                  </div>
                  <div class="col-md-6">
                    <fg-input type="number" label="Edição" placeholder="Edição" v-model="object.edicao" required/>
                  </div>
                </div>

                <div class="row text-right">
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">
                      Enviar Dados
                    </button>
                  </div>
                </div>

                <div class="clearfix"></div>
              </div>

            </form>

          </card>
        </div>
      </div>

    </div>
  </div>
</template>
<script>
  import Card from 'src/components/UIComponents/Cards/Card.vue'
  import axios from "axios"

  export default {
    components: {
      Card
    },
    data () {
      return {
        object: {},
      }
    },

    methods: {
      sendData() {
        axios({
          method: "POST",
          url: "/api/jornais",
          data: this.object,
          headers: {
            'Accept': 'application/json',
            'Authorization': 'Bearer ' + this.$store.getters.getToken,
            'Content-Type': 'application/json'
          }
        }).then(
          result => {
            this.notifyVue('top', 'right','success', "Operação realizada com sucesso")
            this.$router.push('/ufab/jornais');
          },
          error => {
            this.notifyVue('top', 'right','danger', error)
          }
        );
      },

      notifyVue (verticalAlign, horizontalAlign, type, result) {
        const notification = {
          template: `<span>`+result+`</span>`
        }


        this.$notifications.notify(
          {
            component: notification,
            icon: 'nc-icon nc-app',
            horizontalAlign: horizontalAlign,
            verticalAlign: verticalAlign,
            type: type
          })
      },
      cleanObject(){
        this.object = {
          id:'',
          titulo: '',
          edicao: '',
          publicacao: '',
        }
      }
    },

    mounted() {
      axios({
        method: "GET",
        url: "/api/jornais/"+this.$route.params.id,
        headers: {
          'Accept': 'application/json',
          'Authorization': 'Bearer ' + this.$store.getters.getToken,
          'Content-Type': 'application/json'
        }
      }).then(
        result => {
          this.object = result.data;
        },
        error => {
          console.error(error);
        }
      )
    },
  }
</script>

