<template id="modal">
    <modal v-show="isModalVisible" @close="closeModal">
        <h3 slot="header">Cadastro de Alunos</h3>

        <form slot="content" @submit.prevent='sendData'>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5">
                        <fg-input type="text" label="Nome" placeholder="Nome Completo" v-model="object.nome" required/>
                    </div>
                    <div class="col-md-3">
                        <fg-input type="text" label="Nome da Mãe" placeholder="Nome da Mãe" v-model="object.mae"
                                  required/>
                    </div>
                    <div class="col-md-4">
                        <fg-input type="text" label="Nome do Pai" placeholder="Nome do Pai" v-model="object.pai"
                                  required/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <fg-input type="text" label="CPF" placeholder="CPF" v-model="object.cpf" required/>
                    </div>
                    <div class="col-md-6">
                        <fg-input type="text" label="RG" placeholder="RG" v-model="object.rg" required/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <fg-input type="text" label="Endereço" placeholder="Endereço" v-model="object.endereco" required/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <fg-input type="text" label="Naturalidade" placeholder="Naturalidade"
                                  v-model="object.naturalidade" required/>
                    </div>
                    <div class="col-md-4">
                        <fg-input type="number" label="Periodo" placeholder="Periodo" v-model="object.periodo" required/>
                    </div>
                    <div class="col-md-4">
                        <fg-input type="date" label="Data de Entrada" placeholder="Data de Entrada" v-model="object.ano"
                                  required/>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <fg-input type="text" label="Telefone" placeholder="Telefone" v-model="object.telefone" required/>
                    </div>

                    <div class="col-md-4">
                        <fg-input type="password" label="Senha" placeholder="Senha" v-model="object.senha" required/>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="sel1">Curso</label>
                            <select class="form-control" id="sel1" v-model="object.curso" required>
                                <option v-for="curso in cursos" v-bind:value="curso"> {{ curso.nome }}</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="row text-right">
                    <div class="col-md-12">
                        <button class="btn btn-danger" @click.prevent="closeModal">
                            Sair
                        </button>
                      <button type="submit" class="btn btn-primary">
                        Enviar Dados
                      </button>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>

        </form>

    </modal>
</template>
<script>
    import Modal from 'src/components/UIComponents/Modal.vue'

    export default {
        name: 'form-component',
        components: {Modal},
        template: "#modal",
        props: {
            closeModal: {},
            cursos: {},
            isModalVisible: {},
            sendData: {},
          object: {}
        }
    }
</script>
