<template>
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <card>
              <template slot="header">
                <h4 class="card-title">Alunos</h4>
                <p class="card-category">Editar</p>
              </template>

              <form @submit.prevent='sendData'>
                <fg-input type="hidden" v-model="object.id" readonly/>

                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-6">
                      <fg-input type="text" label="Nome" placeholder="Matricula" v-model="object.matricula" readonly/>
                    </div>
                    <div class="col-md-6">
                      <fg-input type="text" label="Nome" placeholder="Nome Completo" v-model="object.nome" required/>
                    </div>
                    <div class="col-md-6">
                      <fg-input type="text" label="Nome da Mãe" placeholder="Nome da Mãe" v-model="object.mae"
                                required/>
                    </div>
                    <div class="col-md-6">
                      <fg-input type="text" label="Nome do Pai" placeholder="Nome do Pai" v-model="object.pai"
                                required/>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <fg-input type="text" label="CPF" placeholder="CPF" v-model="object.cpf" required/>
                    </div>
                    <div class="col-md-6">
                      <fg-input type="text" label="RG" placeholder="RG" v-model="object.rg" required/>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <fg-input type="text" label="Endereço" placeholder="Endereço" v-model="object.endereco" required/>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4">
                      <fg-input type="text" label="Naturalidade" placeholder="Naturalidade"
                                v-model="object.naturalidade" required/>
                    </div>
                    <div class="col-md-4">
                      <fg-input type="number" label="Periodo" placeholder="Periodo" v-model="object.periodo" required/>
                    </div>
                    <div class="col-md-4">
                      <fg-input type="date" label="Data de Entrada" placeholder="Data de Entrada" v-model="object.ano"
                                required/>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4">
                      <fg-input type="text" label="Telefone" placeholder="Telefone" v-model="object.telefone" required/>
                    </div>

                    <div class="col-md-4">
                      <fg-input type="password" label="Senha" placeholder="Senha" v-model="object.senha" required/>
                    </div>

                    <div class="col-md-4">
                      <div class="form-group">
                        <label for="sel1">Curso</label>
                        <select class="form-control" id="sel1" v-model="object.curso" required>
                          <option v-for="curso in cursos" v-bind:value="curso"> {{ curso.nome }}</option>
                        </select>
                      </div>
                    </div>

                  </div>

                  <div class="row text-right">
                    <div class="col-md-12">
                      <button type="submit" class="btn btn-primary">
                        Enviar Dados
                      </button>
                    </div>
                  </div>

                  <div class="clearfix"></div>
                </div>

              </form>

            </card>
          </div>
        </div>

      </div>
    </div>
</template>
<script>
  import Card from 'src/components/UIComponents/Cards/Card.vue'
  import axios from "axios"

  export default {
    components: {
      Card
    },
    data () {
      return {
        cursos: {},
        object: {}
      }
    },

    methods: {
      sendData() {
        axios({
          method: "POST",
          url: "/api/alunos",
          data: this.object,
          headers: {
            'Accept': 'application/json',
            'Authorization': 'Bearer ' + this.$store.getters.getToken,
            'Content-Type': 'application/json'
          }
        }).then(
          result => {
            this.notifyVue('top', 'right','success', "Operação realizada com sucesso")
            this.$router.push('/ufab/alunos');
          },
          error => {
            this.notifyVue('top', 'right','danger', error)
          }
        );
      },

      notifyVue (verticalAlign, horizontalAlign, type, result) {
        const notification = {
          template: `<span>`+result+`</span>`
        }


        this.$notifications.notify(
          {
            component: notification,
            icon: 'nc-icon nc-app',
            horizontalAlign: horizontalAlign,
            verticalAlign: verticalAlign,
            type: type
          })
      },
      cleanObject(){
        this.object = {
          id:'',
          matricula:'',
          nome: '',
          mae: '',
          pai: '',
          cpf: '',
          rg: '',
          endereco: '',
          naturalidade: '',
          periodo: '',
          ano: '',
          telefone:'',
          senha:'',
          curso:'',
        }
      }
    },

    mounted() {

      axios({
        method: "GET",
        url: "/api/alunos/"+this.$route.params.id,
        headers: {
          'Accept': 'application/json',
          'Authorization': 'Bearer ' + this.$store.getters.getToken,
          'Content-Type': 'application/json'
        }
      }).then(
        result => {
          this.object = result.data;
        },
        error => {
          console.error(error);
        }
      ),
        axios({
          method: "GET",
          url: "/api/cursos",
          headers: {
            'Accept': 'application/json',
            'Authorization': 'Bearer ' + this.$store.getters.getToken,
            'Content-Type': 'application/json'
          }
        }).then(
          result => {
            this.cursos = result.data;
          },
          error => {
            console.error(error);
          }
        )
    },
  }
</script>

