<template>
  <div class="wrapper">
    <side-bar>
      <mobile-menu slot="content"></mobile-menu>
      <sidebar-link to="/ufab/dashboard">
        <i class="nc-icon nc-compass-05"></i>
        <p>Dashboard</p>
      </sidebar-link>
      <sidebar-link to="/ufab/alunos">
        <i class="nc-icon nc-circle-09"></i>
        <p>Alunos</p>
      </sidebar-link>
      <sidebar-link to="/ufab/funcionarios">
        <i class="nc-icon nc-badge"></i>
        <p>Funcionários</p>
      </sidebar-link>
      <sidebar-link to="/ufab/cursos">
        <i class="nc-icon nc-ruler-pencil"></i>
        <p>Cursos</p>
      </sidebar-link>
      <sidebar-link to="/ufab/livros">
        <i class="nc-icon nc-paper-2"></i>
        <p>Livros</p>
      </sidebar-link>
      <sidebar-link to="/ufab/revistas">
        <i class="nc-icon nc-paper-2"></i>
        <p>Revistas</p>
      </sidebar-link>
      <sidebar-link to="/ufab/jornais">
        <i class="nc-icon nc-paper-2"></i>
        <p>Jornais</p>
      </sidebar-link>
      <sidebar-link to="/ufab/midias">
        <i class="nc-icon nc-paper-2"></i>
        <p>Midias Eletrônicas</p>
      </sidebar-link>
      <sidebar-link to="/ufab/anais">
        <i class="nc-icon nc-paper-2"></i>
        <p>Anais de Congresso</p>
      </sidebar-link>
      <sidebar-link to="/ufab/tccs">
        <i class="nc-icon nc-paper-2"></i>
        <p>TCC</p>
      </sidebar-link>
    </side-bar>
    <div class="main-panel">
      <top-navbar></top-navbar>

      <dashboard-content @click="toggleSidebar">

      </dashboard-content>

      <content-footer></content-footer>
    </div>
  </div>
</template>
<style lang="scss">

</style>
<script>
  import TopNavbar from './TopNavbar.vue'
  import ContentFooter from './ContentFooter.vue'
  import DashboardContent from './Content.vue'
  import MobileMenu from './MobileMenu.vue'
  export default {
    components: {
      TopNavbar,
      ContentFooter,
      DashboardContent,
      MobileMenu
    },
    methods: {
      toggleSidebar () {
        if (this.$sidebar.showSidebar) {
          this.$sidebar.displaySidebar(false)
        }
      }
    }
  }

</script>
