<template>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Biblioteca UFAB</a>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav ml-auto">
          <drop-down title="Opções">
            <router-link tag="li" to="/ufab/user">
              <a class="dropdown-item">Meus dados</a>
            </router-link>

            <div class="divider"></div>
            <a class="dropdown-item" v-on:click='logout'>Sair</a>

          </drop-down>
        </ul>
      </div>
    </div>
  </nav>
</template>
<script>
  import * as types from '../../../store/mutation-types'

  export default {
    computed: {
      routeName () {
        const {name} = this.$route;
        return this.capitalizeFirstLetter(name)
      }
    },
    data () {
      return {
        activeNotifications: false
      }
    },
    methods: {
      logout () {
        this.$store.dispatch(types.LOGOUT)
      },
      capitalizeFirstLetter (string) {
        return string.charAt(0).toUpperCase() + string.slice(1)
      },
      toggleNotificationDropDown () {
        this.activeNotifications = !this.activeNotifications
      },
      closeDropDown () {
        this.activeNotifications = false
      },
      toggleSidebar () {
        this.$sidebar.displaySidebar(!this.$sidebar.showSidebar)
      },
      hideSidebar () {
        this.$sidebar.displaySidebar(false)
      }
    }
  }

</script>
<style>

</style>
