<template>
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <card>
            <template slot="header">
              <h4 class="card-title">Livros</h4>
              <p class="card-category">Cadastros</p>
            </template>

            <div class="text-right">
              <button type="button" class="btn btn-wd btn-success btn-outline" @click="showModal">
                <span class="btn-label"><i class="fa fa-plus-circle"></i>
                </span>
                Novo
              </button>
            </div><br>

            <div class="table-responsive">
              <l-table class="table-hover table-striped"
                       :columns="table.columns"
                       :data="table.fields">
              </l-table>
            </div>
          </card>
        </div>

      </div>

      <div>
        <form-component
          :close-modal="closeModal"
          :is-modal-visible="isModalVisible"
          :send-data="sendData"
          :object="object"/>
      </div>


    </div>
  </div>
</template>
<script>
  import LTable from 'src/components/UIComponents/Table.vue'
  import Card from 'src/components/UIComponents/Cards/Card.vue'

  import axios from "axios"
  import CreateComponent from 'src/components/Dashboard/Views/Livros/CreateComponent.vue';

  const tableColumns = ['ID', 'Titulo', 'Autor', 'Tema', 'Edicao', 'Editora', ]
  const tableData = []

  export default {
    components: {
      FormComponent: CreateComponent,
      LTable,
      Card
    },
    data () {
      return {
        isModalVisible: false,
        table: {
          columns: [...tableColumns],
          fields: [...tableData]
        },
        object: {},
      }
    },

    methods: {
      showModal() {
        this.isModalVisible = true;
      },
      closeModal() {
        this.isModalVisible = false;
        this.cleanObject()
      },
      sendData() {
        axios({
          method: "POST",
          url: "/api/livros",
          data: this.object,
          headers: {
            'Accept': 'application/json',
            'Authorization': 'Bearer ' + this.$store.getters.getToken,
            'Content-Type': 'application/json'
          }
        }).then(
          result => {
            this.notifyVue('top', 'right','success', "Operação realizada com sucesso")
            this.closeModal()
            this.$router.push('/ufab/livros');
          },
          error => {
            this.notifyVue('top', 'right','danger', error)
          }
        );
      },

      notifyVue (verticalAlign, horizontalAlign, type, result) {
        const notification = {
          template: `<span>`+result+`</span>`
        }
        this.$notifications.notify(
          {
            component: notification,
            icon: 'nc-icon nc-app',
            horizontalAlign: horizontalAlign,
            verticalAlign: verticalAlign,
            type: type
          })
      },
      cleanObject(){
        this.object = {
          titulo: '',
          tema: '',
          numPaginas: '',
          areaConhecimento: '',
          ibs: '',
          editora: '',
          edicao: '',
          autor: '',
          publicacao: '',
        }
      }
    },

    mounted() {

      axios({
        method: "GET",
        url: "/api/livros",
        headers: {
          'Accept': 'application/json',
          'Authorization': 'Bearer ' + this.$store.getters.getToken,
          'Content-Type': 'application/json'
        }
      }).then(
        result => {
          this.table.fields = result.data;

          for(let i=0; i< this.table.fields.length; i++) {
            this.table.fields[i].deleteURL = "/api/livros/"+this.table.fields[i].id
            this.table.fields[i].editRoute = "EditarLivro"
          }
        },
        error => {
          console.error(error);
        }
      )
    },
  }
</script>

<style scoped>
  /**/
</style>
