<template id="modal">
  <modal v-show="isModalVisible" @close="closeModal">
    <h3 slot="header">Cadastro de Cursos</h3>

    <form slot="content" @submit.prevent='sendData'>

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <fg-input type="text" label="Nome" placeholder="Nome do Curso" v-model="object.nome" required/>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="sel1">Nível</label>
              <select class="form-control" id="sel1" v-model="object.nivel" required>
                <option v-for="nivel in niveis" v-bind:value="nivel.value">{{ nivel.value }}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="sel2">Area</label>
              <select class="form-control" id="sel2" v-model="object.area" required>
                <option v-for="area in areas" v-bind:value="area.value">{{ area.value }}</option>
              </select>
            </div>
          </div>

          <div class="col-md-6">
            <fg-input type="text" label="Sigla" placeholder="Sigla" v-model="object.sigla" required/>
          </div>
        </div>

        <div class="row text-right">
          <div class="col-md-12">
            <button class="btn btn-danger" @click.prevent="closeModal">
              Sair
            </button>
            <button type="submit" class="btn btn-primary">
              Enviar Dados
            </button>
          </div>
        </div>

        <div class="clearfix"></div>
      </div>

    </form>

  </modal>
</template>
<script>
  import Modal from 'src/components/UIComponents/Modal.vue'

  export default {
    name: 'form-component',
    components: {Modal},
    template: "#modal",
    props: {
      closeModal: {},
      isModalVisible: {},
      sendData: {},
      object: {},
    },
    data () {
      return {
        niveis: [
          { value: 'Graduação' },
          { value: 'Pós-Graduação' },
        ],
        areas: [
          { value: 'Ciências Exatas' },
          { value: 'Ciências Humanas' },
          { value: 'Ciências da Natureza' },
        ],
      }
    }
  }
</script>
